<!doctype html>
<html>
<head>
  <title>Benchmark Goals</title>
</head>
<body>
  <h2>Guess The Number</h2>
    <button onclick="random()" id="clickme">generate number</button>
  <!-- <button onclick="guess()">guess number</button> -->
  <h2>String Indices</h2>
    <ul>
      <li id="change">change me</li>
    </ul>
    <button onclick="stringIndices()">click to add words to parse</button>
    <button onclick="checkTheIndices()">check indexes</button>
  <h2>The Disemvoweling</h2>
    <input type="text" id="words" placeholder="sdasdasd">
    <button onclick="disemvowel()">disemvowel</button>

  <script src="/Users/helen/Desktop/LGfolder/bizzarre-lynx/Specs/main.js"></script>
</body>
</html>
