<!doctype html>
<html>
<head>
  <title>Benchmark Goals</title>
</head>
<body>
  <h2>Guess The Number</h2>
    <button onclick="randomNumber()" id="clickme">generate number</button>
    <button onclick="guessTheNum()">guess number</button>
  <h2>String Indices</h2>
    <ul>
      <li id="change">change me</li>
    </ul>
    <button onclick="stringIndices()">click to add words to parse</button>
    <button onclick="checkTheIndices()">check indexes</button>
  <h2>The Disemvoweling</h2>
    <input type="text" id="words" placeholder="aeiou">
    <button onclick="disemvowel()">disemvowel</button>
  <h2>Fibonacci Bases</h2>
    <div>
      <input type="text" id="fibToDecimal" placeholder="fibo base to decimal">
      <button onclick="fibonacciBases()">convert</button>
    </div>
    <br>
    <div>
      <input type="text" id="convertToFibo" placeholder="decimal to fibo">
      <button onclick="fibonacciSeq()">convert</button>
  <h2>Scrab Bag </h2>
    <input type="text" id="enterLetters">
    <button onclick="scrabBag()">update bag</button>
  <h2>String Me Along</h2>
    <input type="text" id="string">
    <button onclick="findSubString()">find substring</button>



  <script src="/Users/helen/Desktop/LGfolder/bizzarre-lynx/Specs/main.js"></script>
</body>
</html>
